@{
    var isAuthenticated = Context.User.Identity.IsAuthenticated;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewFlowersShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="./img_s/logo.svg" type="image/icon-x" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Marmelad&family=Rufina:wght@200;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/NewFlowersShop.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="Contact">
      <h1>Контакты</h1>
      <div class="box">
        <div class="address">
          <h4>
            г. Казань<br />
            ​ул. Аделя Кутуя, 12​
          </h4>
          <h4>+7(843)295‒91‒91</h4>
        </div>
        <div class="address">
          <h4>
            г. Казань<br />
            ​ул. Академика Губкина, 31а
          </h4>
          <h4>+7(843)272‒21‒31</h4>
        </div>
        <div class="address">
          <h4>
            г. Казань<br />
            ​Сибирский тракт, 23
          </h4>
          <h4>+7(843)251‒09‒90</h4>
        </div>
        <div class="address">
          <h4>
            г. Казань<br />
            ​ул. Фрунзе, 3
          </h4>
          <h4>+7(843)555‒17‒71</h4>
        </div>
        <div class="address">
          <h4>
            г. Казань<br />
            ​ул. Космонавтов, 41
          </h4>
          <h4>+7(843)279‒69‒69</h4>
        </div>
        <div class="address">
          <h4>
            г. Казань<br />
            ​ул. Хусаина Мавлютова, 9
          </h4>
          <h4>+7(843)225‒97‒17</h4>
        </div>
      </div>
      <div class="linkText">
        <div class="link-item">
          <img src="~/img_s/inst.svg" alt="Instagram" />
          <span>new_flowers_kzn</span>
        </div>
        <div class="link-item">
          <img src="~/img_s/tg.svg" alt="Telegram" />
          <span>newflowerskzn</span>
        </div>
      </div>
    </div>
    </body>
    </html> 