@{
    var isAuthenticated = Context.User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewFlowersShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="./img_s/logo.svg" type="image/icon-x" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Marmelad&family=Rufina:wght@200;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/NewFlowersShop.styles.css" asp-append-version="true" />
</head>
<body>

        <div class="Delivery">
      <h1>Доставка</h1>
      <div class="infoDelivery">
        <div>
          <h3>Курьер</h3>
          <ul>
            <li>
              Мы можем доставить букет вашему близкому человеку, зная только
              номер телефона получателя и имя - приятный сюрприз для ваших
              любимых.
            </li>
            <li>Приём заявок круглосуточно.</li>
            <li>
              Доставим в течении 1 часа. Возможна доставка к точному времени и
              дате.
            </li>
            <li>Доставка по Казани в радиусе 5 км — БЕСПЛАТНО!</li>
            <li>
              Стоимость доставки в ночное время (с 20:00 до 09:00) увеличивается
              на 200 ₽.
            </li>
          </ul>
        </div>
        <div>
          <h3>В пункте выдачи (в магазине)</h3>
          <ul>
            <li>Букет будет готов в течение часа.</li>
            <li>
              При получении сказать либо номер заказа, либо номер телефона.
            </li>
          </ul>
        </div>
      </div>
    </div>
    </body>
    </html> 