<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./img_s/logo.svg" type="image/icon-x" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Marmelad&family=Rufina:wght@200;700&display=swap"
      rel="stylesheet"
    />
    <title>Новые цветы</title>
  </head>
  <body>
    <footer>
      <div>
        <img src="./img_s/logo.svg" />
        <h1 id="logoText">
          Новые<br />
          цветы
        </h1>
      </div>
      <div class="City">
        <img src="./img_s/map.svg" />
        <h1>г.Казань</h1>
      </div>
      <div id="footer_center">
        <h1>Каталог</h1>
        <h1>Доставка</h1>
        <h1>Контакты</h1>
      </div>
      <div>
        <button class="footerBtn">
          <div><img src="./img_s/search.svg" /></div>
        </button>
        <button class="footerBtn">
          <div><img src="./img_s/profil.svg" /></div>
        </button>
        <button class="footerBtn">
          <div>
            <img src="./img_s/shopping-cart.svg" />
          </div>
        </button>
        <button class="footerBtn">
          <div class="menu"></div>
          <div class="menu"></div>
          <div class="menu"></div>
        </button>
      </div>
    </footer>
    <div class="basket">
      <h1>История заказов</h1>
      <div class="infoHistory">
        <div class="table-container">
          <div class="table-header">
            <div class="table-header-cell">№ заказа</div>
            <div class="table-header-cell" style="color: white">Товар</div>
            <div class="table-header-cell">Название</div>
            <div class="table-header-cell">Статус</div>
            <div class="table-header-cell">Количество</div>
            <div class="table-header-cell">Сумма</div>
            <div class="table-header-cell"></div>
          </div>
          <div class="table-body">
            <div class="table-row">
              <div class="table-cell">36789</div>
              <div class="table-cell products-cell">
                <div class="product-item">
                  <img src="./img_s/logo.svg" class="imageProductBasket" />
                </div>
                <div class="product-item">
                  <img src="./img_s/logo.svg" class="imageProductBasket" />
                </div>
              </div>
              <div class="table-cell products-cell">
                <div class="product-item">25 желтых тюльпанов</div>
                <div class="product-item">25 желтых тюльпанов</div>
              </div>
              <div class="table-cell">Доставлен</div>
              <div class="table-cell">2</div>
              <div class="table-cell">2500₽</div>
              <div class="table-cell">
                <button class="buttonAllow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script></script>

    <div id="bottom">
      <div class="bA">
        <a>Cвадебная флористика</a>
        <a>Букеты на любые мероприятия</a>
        <a>Букеты невесты</a>
        <a>Композиции</a>
      </div>
      <div class="bLink">
        <a href="https://www.instagram.com/">
          <img src="./img_s/inst.svg" alt="Instagram" />
        </a>
        <a href="https://web.telegram.org/">
          <img src="./img_s/tg.svg" alt="Telegram" />
        </a>
      </div>
    </div>
  </body>
</html>
