html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.logoA {
    display: inline-flex;
    align-items: center;
}

    .logoA a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    padding: 0 3% 0 1%;
    display: flex;
    position: sticky;
    top: 0;
    height: 7%;
    font-family: "Marmelad", serif;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 100;
    border-bottom: 1px solid black;
}

    footer #footer_center a {
        color: black;
        text-decoration: none;
    }

    footer div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    footer img {
        height: 45%;
        vertical-align: middle;
        margin: 10%;
    }

#footer_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

    #footer_center h1 {
        margin: 4%;
    }

.City {
    margin-left: 3%;
}

.menu {
    border-radius: 25px;
    width: 26px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
}

#logoText {
    color: #670404;
    font-size: 15px;
}

h1 {
    color: black;
    font-size: 15px;
    margin: 4%;
}

.footerBtn {
    background: none;
    border: none;
    height: 33px;
    margin: 3%;
    display: block;
    justify-content: center;
}

    .footerBtn img {
        height: 25px;
    }

@media (max-width: 768px) {
    #footer_center, .City {
        display: none;
    }
}


body {
    margin: 0 5% 0 5%;
}

.bottom {
    display: flex;
    position: sticky;
    top: 0;
    font-family: "Marmelad", serif;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
}


    .bottom a {
        color: black;
        font-size: 15px;
        margin: 4%;
        white-space: nowrap;
    }

    .bottom .bA {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

@media (max-width: 1000px) {
    .bottom .bA {
        flex-wrap: wrap;
    }

        .bottom .bA a {
            white-space: normal;
        }
}

.bLink {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2%;
}

.block1 {
    background: url("../img_s/flowers_image.svg") no-repeat center center;
    background-size: cover;
    height: auto;
    aspect-ratio: 14/7;
    border-radius: 4%;
    background-position-x: center;
    margin-top: 5px;
    position: relative;
}

    .block1 .box1 {
        font-family: "Marmelad", serif;
        text-align: right;
        position: absolute;
        top: 20%;
        right: 3%;
        width: 40%;
    }


@media (max-width: 1100px) {
    .block1 .box1 {
        position: relative;
        right: -30%;
    }
}

@media (max-width: 900px) {
    .block1 .box1 {
        position: relative;
        right: -20%;
    }
}

@media (max-width: 900px) {
    .block1 .box1 {
        position: relative;
        right: -4%;
        font-size: 20px;
    }
}

.box1 h1 {
    font-family: "Marmelad", serif;
    color: #8A226F;
    text-align: right;
    font-size: 32px;
    white-space: nowrap;
}

.box1 button {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(245, 192, 239, 0.4);
    color: #5C234D;
    font-family: "Marmelad", serif;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    margin: 1% 3% 0 0;
}

    .box1 button:hover, .box1 button:focus,.box1 a:hover
{
    background-color: #5C234D;
    color: white;
    outline: none;
    text-decoration: none;
}

.block2 h1, .block3 h1, .block4 h1 {
    color: black;
    font-family: "Marmelad", serif;
    font-size: 46px;
    margin: 3% 0 1.5% 2%;
}

.product {
    border: 1px solid black;
    font-family: "Marmelad", serif;
    color: black;
    width: 180px;
    height: 280px;
    text-align: center;
    padding: 20px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.imageProduct {
    aspect-ratio: 5/5;
    width: 80%;
}

.nameProduct {
    margin: 5px 0 0 0;
    font-size: 18px;
}

.priceProduct {
    margin: 5px 0 5px 0;
    font-size: 16px;
}

.product button {
    margin: 5px 0 0 0;
    border-radius: 10px;
    background-color: #5C234D;
    color: white;
    font-family: "Marmelad", serif;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    row-gap: 30px;
}

/* ???????????????????????????ContactPage?????????????????????????????????????????????? */

a {
    text-decoration: none;
    color: black;
}


/* !!!!!!!!! */
.Contact h1, .Delivery h1, .infoProfil h1, .editProfil h1, .catalog h1 {
    color: black;
    font-family: "Marmelad", serif;
    font-size: 46px;
    margin: 3% 0 1.5% 2%;
    text-decoration: underline;
}

.address {
    text-align: center;
    border: 1px solid black;
    font-family: "Marmelad", serif;
    width: 350px;
    height: 150px;
    font-size: larger;
    padding: 1%;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    row-gap: 30px;
}

.linkText {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.link-item {
    display: flex;
    align-items: center;
    margin: 0 20px;
}


    .link-item img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .link-item span {
        font-family: "Marmelad", serif;
        color: black;
        font-size: 20px;
        display: inline-block;
    }

/* ???????????????????????????DeliveryPage?????????????????????????????????????????????? */
.infoDelivery, .infoProfil {
    font-family: "Marmelad", serif;
    color: black;
    padding: 0 2%;
}

    .infoDelivery h3 {
        font-size: 27px;
    }

    .infoDelivery ul {
        font-size: 20px;
    }


/* ???????????????????????????DataPage?????????????????????????????????????????????? */
.infoProfil1 {
    margin-top: 4%;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 25px;
    margin-left: 2%;
    width: 50%;
}

.show-password-button {
    background-color: white;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .show-password-button:active {
        background-color: grey;
    }

    .show-password-button img {
        width: 20px;
        height: 20px;
    }

.value {
    margin-left: 10px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-bottom: 10%;
    margin-left: 2%;
}

    .button-container button {
        background-color: #3F1536;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 10px;
    }

        .button-container button:active {
            background-color: black;
        }

/* ???????????????????????????EditDataPage?????????????????????????????????????????????? */

.editProfil input {
    border: none;
    width: 400px;
    background-color: #F2EEEE;
    font-family: "Marmelad", serif;
}

.editProfil .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 25px;
    margin-left: 2%;
    width: 60%;
}

/* ???????????????????????????CatalogPage?????????????????????????????????????????????? */

.catalogContent {
    display: flex;
    width: 100%;
}

.sidebar {
    flex: 0 0 25%;
    background-color: rgba(215, 50, 168, 0.3);
    border-radius: 2%;
    padding: 20px;
    height:fit-content;
}

.content {
    flex: 1;
    padding: 10px;
}

.divSort {
    padding: 0%;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divProducts {
    width: 100%;
}

.sidebar h5 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 20px;
    font-family: "Marmelad", serif;
}

.sidebar p {
    font-size: 20px;
    font-family: "Marmelad", serif;
}

.PriceCatalog {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .PriceCatalog > * {
        margin: 5px;
    }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sidebar input {
    font-size: 15px;
    font-family: "Marmelad", serif;
    width: 30%;
    border-color: white;
}

.sidebar select {
    font-size: 15px;
    padding: 5px;
    font-family: "Marmelad", serif;
    width: 92%;
    background-color: #3F1536;
    color: white;
}

.divSort {
    padding: 0 20px 20px 20px;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    border-color: white;
    white-space: wrap;
}

    .divSort input {
        padding: 5px;
        font-size: 20px;
        font-family: "Marmelad", serif;
        border-color: lightgray;
        text-align: left;
        flex: 1;
        margin-right: 50px;
    }

    .divSort select {
        font-size: 15px;
        padding: 5px;
        font-family: "Marmelad", serif;
        background-color: #3F1536;
        color: white;
        flex-wrap: wrap;
    }

.divProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    row-gap: 30px;
}

.size-options label,
#flowerTypes label,
#packages label {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Marmelad", serif;
    cursor: pointer;
    gap: 10px; 
    margin-bottom: 8px; 
    white-space: nowrap; 
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #D3D3D3; 
    background-color: white; 
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

    input[type="checkbox"]:checked {
        background-color: #3F1536;
        border-color: #3F1536; 
        background-size: 14px;
    }

#products h3 {
    align-items: center;
    font-size: 36px;
    font-family: "Marmelad", serif;
}

#resetFiltersButton {
    margin: 5px 0 0 0;
    border-radius: 10px;
    background-color: #5C234D;
    color: white;
    font-family: "Marmelad", serif;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    margin: 10% 15% 5% 15%;
}

#box1 a {
    text-decoration: none;
    color: white;
}